img {
  background-color: white;
  width: 200px;
  height: 200px;
}

h2 {
  font-size: large;
  text-align: center;
  color: red;
}
div {
  width: 300px;
  margin: 0 auto 20px auto;
  border: solid 1px grey;
}

p {
  color: red;
}
